body {
    background-color: rgba(165, 42, 42, 0.288);
    padding: 50px;
}
h3 {
  color: orange;
  display:inline-block;
  border: 1px solid chocolate;
  padding: 10px;
}
h2 {

  padding: 20px
}
h1 {
  text-align: center;
  color: red
}
ul.marco{
  display:inline-block;
  border: 1px blue solid;
}
h2.margen{text-align: 
}
img.logo{width: 300px}
figure {
    display: inline-block;
}
h1.fnt-red {
    color: red;
}
h1.fnt-blue{
    color: blue;
}
p.fnt-blue{
    color: blue;
}
h1.titulo{
    color: aqua;
    font-size: 30px;
    font-style: italic;
    text-align: start;
}
p.texto {
    color: blue;
}

span.texto {
    color: blue;
    font-weight: 800;
}